.policy__header {
    font-size: 4rem;
    font-family: var(--font-base);
    font-weight: 700;
    color: var(--color-darkgreen);
    text-align: center;
    margin-bottom: 2rem;
}

.policy__title {
    font-size: 3rem;
    font-family: var(--font-base);
    font-weight: 900;
    color: var(--color-darkgreen);
    margin-bottom: 1rem;
}

.policy__subtitle {
    font-size: 1.8rem;
    font-family: var(--font-base);
    font-weight: 900;
    color: var(--color-darkgreen);
    margin: 0 0rem 1rem 1rem;
}

.policy__text {
    font-size: 1rem;
    font-family: var(--font-alt);
    font-weight: 500;
    color: var(--color-darkgreen);
    margin-bottom: 1rem;
}

.policy__note {
    display: flex;
    flex-direction: row;
    border: 2px solid var(--color-darkgreen);
    border-radius: 10px;
    background-color: var(--color-darkgreen);
    padding: 1rem 0.5rem;
    margin: 2rem 0;
}

.policy__note-text {
    font-size: 1rem;
    font-family: var(--font-alt);
    font-weight: 500;
    color: var(--color-golden);
    margin: 0 0rem 1rem 1rem;
}

.policy__icon {
    font-size: 3rem;
    color: var(--color-golden);
}

@media screen and (max-width: 430px) {
    .policy__text {
        font-size: 0.8rem;
    }

    .policy__icon {
        display: none;
    }

    .policy__note-text {
        font-size: 0.8rem;
    }
}