/* .cart__item {
    background-color: #f2f1f1;
    padding: 30px;
    float: left;
    margin-left: 250px;
    margin-top: 10px;
    width: 900px;
    height: 200px;
    border-radius: 25px;
}

.cart__desc {
    margin-left: 25%;
    list-style: none;
    color: #072D2E;
}

.cart__name {
    margin-bottom: 8px;
}

.cart__price {
    margin-left: 7px;
    margin-bottom: 5px;
}

.cart__stock {
    margin-left: 7px;
    margin-bottom: 5px;
}

.cart__qty {
    margin-left: 7px;
}
.custom__button-submit {
    margin-left: 730px;
    position: relative;
    top: -15px;
}
 */
