.cart__summary {
    display: flex;
    flex-direction: column;
}

.cart__summary-header h1 {
    display: flex;
    flex-direction: row;
    font-size: 2.3rem;
    font-family: var(--font-base);
    font-weight: 700;
    color: var(--color-darkgreen);
    gap: 3rem;
}



/* laptop devices */
@media screen and (max-width: 1150px) {
    .app__gallery {
        flex-direction: column;
    }

    .app__gallery-images {
        max-width: 100%;
        margin: 5rem 0;
    }
}

/* smaller devices */
@media screen and (max-width: 850px) {
    .app__gallery {
        padding: 4rem 0 4rem 4rem;
    }
}

/* extra small devices */
@media screen and (max-width: 650px) {
    .cart__summary-header {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .cart__summary-header h1 {
        font-size: 1.8rem;
    }
}