.employee__center {
    background-color: white;
    position:absolute;
    left: 314px;
    height:1000px;
    width: 1300px;
}

.employee__header {
    top: 100px;
    padding-left: 100px;
    padding-top: 5rem;
    
}

.employee__secondary-header {
    font-size: 18px;
    padding-left: 120px;
    padding-top: 35px;
}

.employee__profile-photo {
    float: left;
    padding-left: 150px;
    padding-top: 20px;
}

.employee__personal-information {
    padding-top: 155px;
    padding-left: 160px;
    border-radius: 50px;
}

.employee__account-information {
    float: right;
    padding-right: 270px;
}
.employee__account-information input {
    width: 370px;
    height: 40px;
    padding-left: 10px;
}

.employee__current-pass input {
    margin-bottom: 10px;
}

.employee__new-pass input {
    margin-bottom: 10px;
}

.employee__confirm-pass input {
    margin-bottom: 10px;
}

.employee__account-header {
    font-size: 18px;
    padding-bottom: 20px;
    padding-right: 10px;
    float: right;
    padding-right: 480px;
    margin-top: -10px;
}

.employee__info-two {
    position: relative;
    float: right;
    padding-right: 770px;
    margin-top: -100px;
}

.employee__info-one input {
    width: 175px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.employee__info-two input {
    height: 40px;
    width: 175px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.employee__settings-name {
    padding-top: 10px;
    padding-bottom:10px;
}

.employee__first-name input {
    width: 370px;
    height: 40px;
    padding-left: 10px;
}

.employee__last-name input {
    width: 370px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.employee__phone-number input {
    width: 370px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.employee__address input {
    width: 370px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.employee__settings-button {
    padding-left: 300px;
    padding-top: 15px;
    display: flex;
    column-gap: 20px;
}

.settings__button-save {
    background-color: var(--color-green);
    color: var(--color-white);
    font-family: var(--font-alt);
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 16px;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 250px;
    margin-left: 10px;
}

.settings__button-cancel {
    background-color: var(--color-green);
    color: var(--color-white);
    font-family: var(--font-alt);
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 16px;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 250px;
}




